/* App.css */
.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  padding: 20px;
}

.search{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.food_images{
  width: 150px;
}

.food-container {
    width: 50vw;
}

.has-addons{
  display: flex;
}

.box {
  display: flex;
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}

.media {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.selected-foods {
  margin-top: 20px;
}

.selected-foods h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.selected-foods ul {
  list-style: none;
  padding: 0;
}

.selected-foods li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.selected-foods button {
  margin-left: 10px;
}

/* Search.css */
.search-bar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  margin-right: 10px;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* FoodBox.css */
.image {
  margin: 0;
}

.input {
  width: 100px;
  height: 20px ;
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
}

.button.is-info {
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 0 5px 5px 0;
}
